<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>515376685392-6baf3g1583rlcm623cvrorthjo1gm36i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.515376685392-6baf3g1583rlcm623cvrorthjo1gm36i</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>515376685392-71o5q40bkn8r7juusorlenvccdeh6r59.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAAoEwUpSkYMXFh4Ihu3KAflu5Nz1sxKkU</string>
	<key>GCM_SENDER_ID</key>
	<string>515376685392</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.rutasApp</string>
	<key>PROJECT_ID</key>
	<string>ruta-app-a6117</string>
	<key>STORAGE_BUCKET</key>
	<string>ruta-app-a6117.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:515376685392:ios:bb811ee943c5410b6a0c55</string>
</dict>
</plist>
